<%
// 以下の設定値を記入のこと

const pageinit = {
ttl : 'JKゾンビ' ,
keywords : 'JK、ゾンビ、JKゾンビ、Zombie、jkzombie, 女子高生、鈴木おさむ、出水ぽすか、IP、渋谷、shibuya' ,
description : 'キービジュアルは、世界累計4200万部超の大ヒット漫画「約束のネバーランド」作画担当の出水ぽすか。仕掛け人は、2024年3月末に放送作家を引退した鈴木おさむ。この予定不調和の２人から生み出される世界に向けて飛び出す新I.Pがここに爆誕！' ,
ogurl : 'http://jkzombie.com/' ,
path: '',
ogimage : './img/ogp.png' ,
category : ['top'] ,
pagename : '',
css: [],
js:[]
};
%>

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="<%= pageinit.ogurl %>">

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"></script>

  <meta name="description" content="<%= pageinit.description %>" />

  <meta property="og:url" content="<%= pageinit.ogurl %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= pageinit.ttl %>" />
  <meta property="og:description" content="<%= pageinit.description %>" />
  <meta property="og:site_name" content="<%= pageinit.ttl %>" />
  <meta property="og:image" content="<%= pageinit.ogimage %>" />

  <!-- favicon -->
  <link rel="icon" href="./img/favicon.ico" sizes="any">
  <!-- <link rel="icon" href="./img/favicons/icon.svg"  type="image/svg+xml">
<link rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png">
<link rel="manifest" href="./img/favicons/manifest.webmanifest"> -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4JF6P01XF4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4JF6P01XF4');
</script>

  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- swiper -->
  <!-- <script src="./js/modernizr-custom.js"></script> -->

  <link rel="stylesheet" href="./css/style1101.css">

  <!-- GA4 -->
  <!-- Google tag (gtag.js) -->

  <title><%= pageinit.ttl %></title>


</head>


<body id="top">

  <header class="header" id="header">
    <div class="header__img">
      <picture>
        <source srcset="./img/fv_pc02.webp">
        <!-- <source srcset="./img/fv_sp.webp" media="(max-width: 768px)"> -->
        <img href="./img/fv_pc02.jpg" width="5940" height="3236" alt="JKゾンビ">
        <picture>
          <p class="header__credit">illustrated by Posuka Demizu</p>
          <p class="header__logo">JKゾンビ</p>
    </div>
    <!-- <a class="header__badge" href="https://shibuya-good-manner.com/fortnite/" target="_blank">
      <div class="header__badge--inner">
        <div class="header__badge--bg">
          <picture>
            <source srcset="./img/bg_badge.webp">
            <img href="./img/bg_badge.png" width="380" height="380" alt="HERE">
          </picture>
        </div>
        <div class="header__badge--up">
          <picture>
            <source srcset="./img/img_badge.webp">
            <img href="./img/img_badge.png" width="380" height="380" alt="HERE">
          </picture>
        </div>
      </div>

    </a> -->

  </header>

  <!-- <section class="about item" id="about">
    <div class="about__wrapper">

      <div class="about__inner">
        <div class="about__inner--in blc">
          <h2 class="ttl">ABOUT</h2>
          <p class="txt">小説化？漫画化？アニメ化？現在公開されている情報は１枚のキービジュルとストーリーの一部のみ。
            今後の展開が謎に包まれた渋谷発グローバルIPプロジェクト「JKゾンビ」。
            キービジュアルは、世界累計4200万部超の大ヒット漫画「約束のネバーランド」作画担当の出水ぽすか。
            仕掛け人（原作）は、2024年3月末に放送作家を引退した鈴木おさむ。
            この予定不調和の２人から生み出される世界に向けて飛び出す新I.Pがここに爆誕！
            </p>
        </div>
  
    
      </div>
    </div>


  
  </section> -->




  <section class="story item" id="story">
    <div class="story__wrapper">

      <div class="story__left">
        <picture>
          <source srcset="./img/img_chara-left.webp">
          <img href="./img/img_chara-left.png" width="1000" height="1768" alt="JKゾンビ_右">
          <picture>
      </div>
      <div class="about__right">
        <picture>
          <source srcset="./img/img_chara-right.webp">
          <img href="./img/img_chara-right.png" width="1000" height="1768" alt="JKゾンビ_右">
          <picture>
      </div>

      <div class="story__inner">
        <div class="story__inner--in blc">
          <h2 class="ttl">STORY</h2>
          <p class="txt"><br>東京から車で３時間。関東だけど結構な田舎町に暮らす女子高生桜フブキと<br>中学生の妹桜マイ。<br><br><br>
            二人の姉妹は、渋谷に行くこと。ずっと二人で渋谷に行き遊ぶことを夢見てきた。<br><br><br>
            フブキは、親に言われてずっと少林寺拳法をやってきた。正直、子供の頃から好きではなかったが、大会で勝つと親が好きなモノを買ってくれたので、やり続けた結果、全国１位に。<br>
            筋肉着くと、似合わない服が増えるので筋肉付けずにやってきた。<br><br><br>
            フブキはバイトしてお金を貯めて、ようやく、二人で渋谷に遊びに行くお金も出来て親の許可も取れた。<br><br><br>
            渋谷に行く日の早朝。<br>
            まっすぐな田舎道を、自転車で全力疾走するフブキとマイ。<br><br><br>
            渋谷で遊ぶことを夢見て、調べまくった情報を頭に駆け巡らせて、駅に向かう。<br>
            駅まで自転車で３０分。<br><br><br>
            車も一台も走ってないが、上空には自衛隊のヘリが。<br><br><br>
            自転車で走るフブキとマイの上空でヘリが音を立てて下がってくる。<br>
            思わずブレーキを掛けて自転車を降りた。<br><br><br>
          </p>
          <div class="img">
            <img src="./img/img_ragh01.jpg" alt="ゾンビ4" width="2000" height="1414">
          </div>

          <p class="txt">マイ「お姉ちゃん、あれヘリコプター、煙出てる」<br>
            フブキ「え？・・・本当だ」<br>
            マイ「落ちてきてない？こっちに・・・・」<br>
            フブキ「そんなわけないよ」<br><br><br>
          </p>

          <div class="img">
            <img src="./img/img_ragh02.jpg" alt="ゾンビ4" width="2000" height="1414">
          </div>

          <p class="txt">と思うが、落ちてきている。<br>
            <br><br><br>
            フブキ「マイ、こっち」<br>
            とマイの手を取り走るが・・・<br>
            ヘリコプターは落ちてくる。<br><br><br>
            そして・・・・<br><br><br>
          </p>

          <div class="img">
            <img src="./img/img_ragh03.jpg" alt="ゾンビ4" width="2000" height="1414">
          </div>

          <p class="txt">ヘリコプターは音を立てて急降下し、田んぼに墜落！<br>
            機体がバラバラになり・・・・<br><br><br>
            爆発。<br><br><br>
            そのショックで機体の破片も飛ぶ。<br>
            何かがこっちに飛んでくる。<br><br><br>
            フブキはマイの体を手で飛ばす。<br><br><br>
            マイ｢お姉ちゃん！！！！！！！！！！！！！！！！｣<br><br><br>
          </p>
          <div class="img">
            <img src="./img/img_ragh04.jpg" alt="ゾンビ4" width="2000" height="1414">
          </div>

          <p class="txt">
            と・・・・<br><br><br>
            姉、フブキの体に、プロペラの一部が刺さる。<br>
            口から血を吐くフブキ。<br><br><br>
            マイ「お姉ちゃーーーーーーーーーーん！！！！」<br>
            さらに爆発が起こりそう。<br><br><br>
            フブキ「逃げてーーーーーー」<br>
            マイ、立ち上がり。「うわーーーーーーーーーーーーーーーー」<br>
            と叫んで走り出す。<br><br><br>
            大きな爆発。マイ、爆風で飛ばされる。<br><br><br>
          </p>

          <p class="txt m20">病院。目を覚ますマイ。<br>
            女手一つで育てた母親のミキがいる。<br>
            爆破したヘリの近くで発見された。ケガで済んだ。<br><br><br>
            ミキ「マイ・・・・」<br><br><br>
            マイ「？？？？だれ？？」<br><br><br>
            ミキ「！！！！！」<br><br><br>
            マイは、爆破のショックですべての記憶を失っていた・・・・<br>
            <br><br>
            一方、フブキも目を覚ます・・・・<br>
            が、しかしそこは、天国428－アノヨシブヤ―だった・・・・<br>
            </p>

            <p class="txt m20">JKゾンビ、つづく<br><br></p>
          <p class="txt2">作&nbsp;&nbsp;&nbsp;&nbsp;出水ぽすか<br>
            物語&nbsp;&nbsp;&nbsp;&nbsp;鈴木おさむ</p>
        </div>


      </div>

    </div>

  </section>
  <%- include('./module/footer') %>

  <div class="loader" id="loader">


  </div>
  <div id="container">
    <h1>GLITCH</h1>
    <h1>GLITCH</h1>
    <h1>GLITCH</h1>
  </div>

  <script src="./js/main0819.js"></script>

</body>

</html>